@use "sass:list";
@use "sass:math";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~adminLte/dist/css/adminlte.css';

// fontawesome

@import "~fontawesome/scss/fontawesome.scss";
@import "~fontawesome/scss/solid.scss";
@import "~fontawesome/scss/brands.scss";
@import "~fontawesome/scss/regular.scss";